@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

/* Navbar */

.Navbar {
  width: 100%;
  height: 6vh;
  display: flex;
  padding: 0.5%;
  justify-content: space-evenly;
  background-color: white;
}

.link {
  width: 12%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  font-family: "Montserrat Underline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  border-bottom: 2px solid black;
}

.link:hover {
  background-color: black;
  color: whitesmoke;
  border-radius: 20px;
}

/* Home Page */

.home-container {
  width: 100vw;
  height: 100vh;
}

.home-0 {
  display: flex;
  height: 94%;
  width: 100%;
}

.home-1 {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.home-2 {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 60%;
  width: 70%;
}

/* Packet Page */

.container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.packet-container {
  width: 100vw;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 80vh;
  overflow-y: auto;
  padding-top: 1%;
}

h2 {
  margin: 0;
  color: black;
}

.data-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
  width: max-content;
  display: flex;
}

.data-item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background: white;
  min-width: 200px;
}

.data-item:hover {
  background: black;
  color: whitesmoke;
}

.data-key {
  font-weight: bold;
  margin-right: 5px;
}

.waiting {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.data-list.alert {
  background-color: #ffcccc;
  border: 2px solid red;
  border-radius: 20px;
  padding: 10px;
}

/* Malicious Page */

.mal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mal-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.malButton {
  width: 40%;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.malButton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.malButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.malButton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.alert-list {
  background-color: #ffcccc;
  border: 2px solid red;
  border-radius: 20px;
  padding: 10px;
}